@import './constants/mixin';

@include desktop {
    .titleMessage {
        color: white;
        position: absolute;
        width: 100%;
        top: 22rem;
        z-index: 1;
        margin-top: -125px;
        text-align: center;


        strong {
            font-size: 1.25em;
        }

        div {

            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
            font-weight: 100;
            letter-spacing: 7px;

            .main {
                font-size: 50px;

            }

            .sub {
                font-size: 27px;
                letter-spacing: 2px;
            }
        }

    }
}


@include tablet {

    .titleMessage {
        color: white;
        position: absolute;
        width: 100%;
        top: 22rem;
        z-index: 1;
        margin-top: -125px;
        text-align: center;


        strong {
            font-size: 1.25em;
        }

        div {

            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
            font-weight: 100;
            letter-spacing: 7px;

            .main {
                font-size: 40px;

            }

            .sub {
                font-size: 22px;
                letter-spacing: 2px;
            }
        }

    }

}


@include mobile {
    .titleMessage {
        color: white;
        position: absolute;
        width: 100%;
        top: 22rem;
        z-index: 1;
        margin-top: -125px;
        text-align: center;


        strong {
            font-size: 1.25em;
        }

        div {

            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
            font-weight: 100;
            letter-spacing: 7px;

            .main {
                font-size: 30px;

            }

            .sub {
                font-size: 17px;
                letter-spacing: 2px;
            }
        }

    }
}
