@import './components/my-carousal.style.scss';
@import './components/myNavbar.style.scss';
@import './components/projects-timeline.style.scss';
@import './components/title-message.style.scss';
@import './components/footer.style.scss';
@import './components/about.styles.scss';
@import './components/contact-form.styles.scss';
@import './components/experience.styles.scss';
@import './components/skills.styles.scss';
@import './components/testimonials.styles.scss';
@import './components/timelinetest.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 